quickcomms
.gradle
/gradle/
/monticore-generator/gradle/
**/gradlew.bat
**/gradlew
target/
.project
.settings/
.classpath
*.log
*.iml
.idea/
*.factorypath
build
.mvn/extensions.xml
.profiler/
*.bak
out
target-emf/
.DS_Store