target/
.project
.settings/
.classpath
*.log
*.iml
.idea/
*.factorypath
/monticore-gradle/.gradle
/monticore-gradle/build
.mvn/extensions.xml
/monticore-grammar/monticore-grammar-it/.gradle/
/monticore-grammar/monticore-grammar-it/out/
