<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http:/maven.apache.org/SETTINGS/1.0.0
	                    http:/maven.apache.org/xsd/settings-1.0.0.xsd ">

  <servers>
    <!-- insert any other required servers (e.g. webdavs, application servers, etc. -->
    
    <!-- for example:
    <server>
      <id>monticore-webdav</id>
      <username>username</username>
      <password>password</password>
    </server>
    -->

  </servers>
  
  <mirrors>
      <mirror>
        <id>maven-central</id>
        <mirrorOf>central</mirrorOf>
        <url>http://central.maven.org/maven2/</url>
      </mirror>
      
      <mirror>
      <!-- this sends everything except repositories named se-nexus-p2 -->
      <!-- to the specified nexus repository -->
      <id>se-nexus</id>
      <mirrorOf>external:*,!se-nexus-p2, !tesla</mirrorOf>
      <url>https://nexus.se.rwth-aachen.de/content/groups/public</url>
    </mirror>
  </mirrors>
  
  <profiles>
    <profile>
      <id>se-nexus</id>
      <!-- enable snapshots for the built in central repo to direct -->
      <!-- all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
		  <repository>
             <id>se-public-nexus</id>
			 <url>http://lab11.se.rwth-aachen.de/nexus/content/groups/public/</url>
            <snapshots>
            </snapshots>
         </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  
  <activeProfiles>
    <!-- make the profile active by default -->
    <activeProfile>se-nexus</activeProfile>
  </activeProfiles>
  
</settings>
